<html>
	<head>
		<title>Admin</title>
		<link rel="stylesheet" href="/static/css/admin/moduleBuilder.css" />
	</head>
	<body>
		<div id="blocksList">
		</div>
		<div id="buildArea">
			<canvas id="canvas" resize></canvas>
		</div>
		<script src="/static/libs/jquery.js"></script>
		<script src="/static/libs/jquery-ui.min.js"></script>
		<script src="/static/libs/mustache.js"></script>
		<script src="/static/libs/paper-full.min.js"></script>
		<script src="/static/js/admin/blockList.js"></script>
		<script src="/static/js/admin/moduleBuilder.js"></script>
	</body>
</html>
