{% extends "base.html" %}

{% macro loading(message) %}
<div class="searchingIndicator">
    <img src="/static/img/searching.gif" alt="Searching" />
    <div class="loadingMessage">{{message}}</div>
</div>
{% endmacro %}

{% block styles %}
    <link rel="stylesheet" href="/static/libs/clockpicker/bootstrap-clockpicker.min.css"/>
    <link rel="stylesheet" href="/static/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}

{% block scripts %}
    <script src="/static/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/libs/clockpicker/jquery-clockpicker.min.js"></script>
    <script src="/static/libs/mustache.js"></script>
    <script src="/static/js/device.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% for script in modulesScripts %}
        <script src="{{script}}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="dashboardLoading">
        {{ loading("Retrieving device list ...") }}
    </div>

    <div id="dashboard">
        <div id="dashboardItems">

        </div>
    </div>

    <div id="emptyDashboard" class="bigMessage">
        <h1>No devices added</h1>
        <a href="/admin/devices" class="btn btn-primary btn-lg addDeviceBtn">
            <i class="fa fa-cogs"></i> Visit Admin
        </a>
    </div>
{% endblock %}
