#dashboard
{
    display: none;
    padding: 15px 0;
}

    #dashboard .device
    {
        width: 200px;
        height: 200px;
        float: left;
        margin: 10px;
        position: relative;
    }

        #dashboard .device .deviceType
        {
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            color: silver;
        }

        #dashboard .device .deviceName .fa
        {
            margin-left: 10px;
        }

        #dashboard .device .deviceName .fa.fa-times:hover
        {
            color: #b20000;
        }

        #dashboard .device.toggleDevice .panel-body
        {
            text-align: center;
        }

        #dashboard .device.toggleDevice .btn-group
        {
            margin-top: 25px;
        }

        #dashboard .device .tempIndicator
        {
            font-size: 40px;
            color: gray;
            padding-top: 30px;
        }

            #dashboard .device.toggleDevice .btn-group .btn
            {
                font-size: 20px;
                padding: 17px 22px;
            }