* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
#blocksList,
#buildArea {
	height: 100%;
}

body {
	background: #070707 url("/static/img/module_builder_bkg.gif") repeat left top;
	font-family: sans-serif;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

.blockItem {
	background-color: #173a56;
	color: #4b9fdd;
	border: 1px solid #051525;
	position: relative;
	height: 22px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;

	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.blockItem.ui-draggable-dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.blockItem:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	border: 1px solid #3b8bbe;
}

	.blockItem .iodock
	{
		position: absolute;
		width: 100%;
		text-align: center;
		cursor: default;
	}

	.blockItem .inputs {
		top: -13px;
	}

	.blockItem .outputs {
		bottom: -13px;
	}

		.iodock .ioport {
			border-radius: 50%;
			width: 6px;
			height: 6px;
			cursor: pointer;
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
		}

		.iodock .ioport.bool {
			background-color: white;
		}

#blocksList {
	background: rgba(255, 255, 255, .1);
	width: 15%;
	float: left;
	border-right: 1px solid silver;
}

	#blocksList .blockItem {
		margin: 3px;
	}

#buildArea {
	float: left;
	width: 85%;
}

	#buildArea .blockItem {
		width: 200px;
		height: 50px;
	}
